In [1]:
import pandas as pd
import requests

In [3]:
url = "http://etl_flask:5000/get_data?limit=10000"
response = requests.get(url)

In [4]:
response

In [7]:
if response.status_code == 200:  # Check if the request was successful
    data = response.json() 
else:
    print(f"Failed to fetch data: {response.status_code}")
    data = {}

if data:
    df = pd.DataFrame(data)

In [8]:
df['Event distance/length'].value_counts()

Event distance/length
80km                1947
50km                1424
46km                1034
52.6km               876
45km                 462
6h                   459
12h                  405
58km                 323
48.2km               272
52.9km               266
100km                261
196km/4Etappen       244
30mi                 191
8h                   184
100mi                156
24h                  138
60km                 131
63km                 111
90km/3Etappen        109
50mi                 105
82km                  96
55km                  96
94.9km/2Etappen       66
41mi                  63
53km                  61
33mi                  57
49km                  57
125km/3Etappen        53
170km                 39
28mi                  34
164km                 33
104km                 32
5:40h                 24
63.9km                24
300km                 23
45.6km                21
120km                 20
9h                    17
48.5km                12
48h                   12
51km                  11
102km                  9
150km                  9
95km                   8
67km                   6
59.9km                 6
201km                  5
40mi                   4
1397km/17Etappen       2
70km                   1
60mi                   1
Name: count, dtype: int64

In [9]:
df[df['Athlete country']=='RSA']

,Athlete ID,Athlete age category,Athlete average speed,Athlete club,Athlete country,Athlete gender,Athlete performance,Athlete year of birth,Event dates,Event distance/length,Event name,Event number of finishers,Year of event
8251,7569,M23,7.995,*Hillcrest,RSA,M,10:00:24 h,1991.0,17.-18.03.2018,80km,EcoTrail de Paris - Ile de France 80 km (FRA),1695,2018
9501,8808,M35,8.441,None,RSA,M,101.286 km,1979.0,17.03.2018,12h,Canberra 12hr Race (AUS),15,2018